<?xml version="1.0"?>
<!--
/**
 * @description DI configuration
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bina\GeoIp\Api\GeoManagementInterface" type="Bina\GeoIp\Model\GeoManagement"/>
    <preference for="Bina\GeoIp\Api\IpInfoInterface" type="ipinfo\ipinfo\IPinfo"/>
    <preference for="Bina\GeoIp\Api\SessionInterface" type="Bina\GeoIp\Model\Session"/>
    <preference for="Bina\GeoIp\Api\SystemConfigInterface" type="Bina\GeoIp\Model\System\Config"/>

    <type name="Bina\GeoIp\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Bina\GeoIp\Model\Session\Storage</argument>
        </arguments>
    </type>
    <virtualType name="Bina\GeoIp\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">geo_ip</argument>
        </arguments>
    </virtualType>

    <preference for="Bina\GeoIp\Api\LoggerInterface" type="Bina\GeoIp\Logger\Logger"/>
    <type name="Bina\GeoIp\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">geo</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Bina\GeoIp\Logger\Handler\Base</item>
            </argument>
        </arguments>
    </type>
    <type name="Bina\GeoIp\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
</config>
