<?xml version="1.0"?>
<!--
/**
 * @description Geo IP
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 * @link        https://support.cloudflare.com/hc/en-us/articles/200168236-Configuring-Cloudflare-IP-Geolocation
 * @link        https://ipinfo.io/
 * @link        https://github.com/ipinfo/php/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="D3p1_GeoIp"/>
</config>
